.socialContainer {
  background-color: rgb(219, 200, 174);
  opacity: 0.8;
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 90px;
}

.insta {
  border-radius: 20px;
  background-size: cover;
  background-color: rgb(21, 21, 45);
  width: 35%;
  height: 15%;
  margin: 0;

  cursor: pointer;
}
.link {
  border-radius: 20px;
  background-size: cover;
  background-color: rgb(21, 21, 45);
  width: 35%;
  height: 15%;
  margin: 0;

  cursor: pointer;
}
.git {
  border-radius: 20px;
  background-size: cover;
  background-color: rgb(21, 21, 45);
  width: 35%;
  height: 15%;
  margin: 0;
  cursor: pointer;
}
